VITE_API_DOMAIN=http://localhost:8080
VITE_AUDIT_POC_DOMAIN=http://localhost:8000 # Currently Audit POC is from a different backend, so we use this domain within our individual axiosInstance Audit calls
VITE_APP_DOMAIN=http://localhost:1234
VITE_DOCS_DOMAIN=http://localhost:3000
VITE_WEBSITE_DOMAIN="#"

# Comma separated list (object-like syntax, eg: flag1:true,flag2:false) of feature flags that are explicitly set to true or false
VITE_FEATURE_FLAGS=lineage:true,someOtherFeature:false

# Used for deploying our Storybook to Chromatic and visual testing using the `npm run chromatic` script
CHROMATIC_PROJECT_TOKEN=