@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --warning: 24.58 94.98% 53.14%;
    --warning-foreground: 210 20% 98%;
    --success: 142 100% 50%;
    --success-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.75rem;
    --chart-1: 285 85% 65%;
    --chart-2: 155 85% 45%;
    --chart-3: 35 95% 60%;
    --chart-4: 235 95% 60%;
    --chart-5: 335 90% 65%;
    --chart-6: 210 90% 55%;

    color-scheme: light;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .dark, :root[class~="dark"]{
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84.24% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --success: 142 100% 50%;
    --success-foreground: 210 20% 98%;
    --warning: 24.58 94.98% 53.14%;
    --warning-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
    --chart-1: 280 65% 60%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 240 92% 55%;
    --chart-5: 340 75% 55%;
    --chart-6: 210 80% 50%;
    color-scheme: dark;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  #root {
    @apply min-h-dvh grid grid-rows-[auto_1fr]
  }

  /* TODO:
   * Shadcn doesn't supply any sort of typography-related components, but
   * suggests some styles in https://ui.shadcn.com/docs/components/typography.
   * It's a good idea to abstract these somehow in the future. Perhaps a
   * <TypographyProvider>?
   */
  pre {
    @apply bg-muted/50 p-4
  }

  code {
    @apply relative rounded font-mono text-sm
  }

  :is(p, h1, h2, h3, h4, h5, h6) a {
    @apply text-sky-700 hover:text-sky-600 dark:text-sky-600 dark:hover:text-sky-500 underline underline-offset-[0.12em] decoration-1 transition-colors
  }

  ::-webkit-scrollbar {
    @apply w-2.5 h-2.5;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-border border border-transparent border-solid bg-clip-padding;
  }
}

/* Custom .container behavior */
:where(.container) {
  @media (min-width: theme(screens.lg)) {
    max-width: theme(container.screens.lg);
    padding-inline: theme(container.padding.lg);
  }
  @apply supports-[width:stretch]:box-content supports-[width:stretch]:!w-[stretch]
}

/* Override default size for lucide icons */
:where(.lucide) {
  @apply w-4 h-4;
}