@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist%20Mono:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre%20Baskerville&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --base-50: 255 100% 98.4%;
    --base-100: 251 100% 97.8%;
    --base-200: 252 75.8% 93.5%;
    --base-300: 253 62.7% 88.4%;
    --base-400: 253 33.8% 69.8%;
    --base-500: 255 27% 52.7%;
    --base-600: 255 28.4% 39.4%;
    --base-700: 255 32.3% 26.1%;
    --base-800: 256 28.4% 18.6%;
    --base-900: 254 28.8% 11.6%;
    --base-950: 255 46.2% 4.7%;
    --base-1000: 252 55.6% 1.8%;

    --primary-50: 255 100% 97.6%;
    --primary-100: 254 100% 95.7%;
    --primary-200: 254 100% 91.8%;
    --primary-300: 257 100% 85.1%;
    --primary-400: 260 100% 75.5%;
    --primary-500: 263 100% 65.5%;
    --primary-600: 267 99.1% 55.7%;
    --primary-700: 270 100% 44.9%;
    --primary-800: 268 87.2% 39.8%;
    --primary-900: 267 74.7% 34.1%;
    --primary-950: 265 80.9% 22.5%;
    --primary-1000: 263 89.7% 15.3%;

    --background: 0 0% 100%;
    --foreground: var(--base-800);
    --card: 0 0% 100%;
    --card-foreground: var(--base-800);
    --popover: 0 0% 100%;
    --popover-foreground: var(--base-800);
    --primary: var(--primary-700);
    --primary-foreground: 0 0% 100%;
    --secondary: var(--base-100);
    --secondary-foreground: var(--base-800);
    --muted: var(--base-50);
    --muted-foreground: var(--base-600);
    --accent: var(--base-50);
    --accent-foreground: var(--base-800);
    --destructive: 0 88% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: var(--base-200);
    --input: var(--base-300);
    --ring: var(--primary-500);
    --radius: 0.875rem;
    --chart-1: 285 75% 70%;
    --chart-2: 155 75% 50%;
    --chart-3: 35 85% 65%;
    --chart-4: 235 83% 68%;
    --chart-5: 335 80% 70%;
    --chart-6: 210 80% 60%;
    --sidebar-background: var(--base-100);
    --sidebar-foreground: var(--base-800);
    --sidebar-primary: var(--primary-700);
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: var(--base-200);
    --sidebar-accent-foreground: var(--base-800);
    --sidebar-border: var(--base-200);
    --sidebar-ring: var(--primary-500);

    /* Our custom vars (not in shadcn) */
    --primary-muted: var(--primary-600);
    --warning: 32 92% 52%;
    --warning-foreground: 0 0% 100%;
    --success: 175 80% 40%;
    --success-foreground: 0 0% 100%;
    --link: 205 95% 40%;
    --link-accent: 205 100% 60%;
    --input-accent: var(--base-400);

    --layout-padding: theme(spacing.4);
    --layout-topbar-height: theme(spacing.10);

    @media (min-width: theme(screens.md)) {
      --layout-padding: theme(spacing.6);
      --layout-topbar-height: theme(spacing.16);
    }

    color-scheme: light;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .dark {
    --background: var(--base-950);
    --foreground: var(--base-200);
    --card: var(--base-950);
    --card-foreground: var(--base-200);
    --popover: var(--base-950);
    --popover-foreground: var(--base-200);
    --primary: var(--primary-700);
    --primary-foreground: 0 0% 100%;
    --secondary: var(--base-800);
    --secondary-foreground: var(--base-200);
    --muted: var(--base-900);
    --muted-foreground: var(--base-400);
    --accent: var(--base-900);
    --accent-foreground: var(--base-200);
    --destructive: 0 60% 55%;
    --destructive-foreground: 0 0% 100%;
    --border: var(--base-800);
    --input: var(--base-800);
    --ring: var(--primary-400);
    --chart-1: 280 65% 62%;
    --chart-2: 160 60% 47%;
    --chart-3: 30 80% 57%;
    --chart-4: 240 81% 58%;
    --chart-5: 340 75% 57%;
    --chart-6: 210 80% 52%;
    --sidebar-background: var(--base-900);
    --sidebar-foreground: var(--base-200);
    --sidebar-primary: var(--primary-700);
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: var(--base-800);
    --sidebar-accent-foreground: var(--base-200);
    --sidebar-border: var(--base-800);
    --sidebar-ring: var(--primary-400);

    /* Our custom vars (not in shadcn) */
    --primary-muted: var(--primary-400);
    --warning: 24.58 61% 50%;
    --warning-foreground: 0 0% 100%;
    --success: 159.89 84% 38%;
    --success-foreground: 0 0% 100%;
    --link: 203 73% 50%;
    --link-accent: 200 96% 70%;
    --input-accent: var(--base-700);

    color-scheme: dark;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  ::selection {
    @apply bg-primary-500 text-background dark:bg-primary-300 dark:text-background;
  }

  #root {
    @apply min-h-dvh grid grid-rows-[auto_1fr]
  }

  /* TODO:
   * Shadcn doesn't supply any sort of typography-related components, but
   * suggests some styles in https://ui.shadcn.com/docs/components/typography.
   * It's a good idea to abstract these somehow in the future. Perhaps a
   * <TypographyProvider>?
   */
  pre {
    @apply bg-muted/50 p-4
  }

  code {
    @apply relative rounded font-mono text-sm
  }

  :is(p, h1, h2, h3, h4, h5, h6) a {
    @apply text-link hover:text-link-accent underline underline-offset-[0.12em] decoration-1 transition-colors
  }

  ::-webkit-scrollbar {
    @apply w-2.5 h-2.5;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-border border border-transparent border-solid bg-clip-padding;
  }
  ::-webkit-scrollbar-corner {
    @apply bg-transparent;
  }
}

@layer utilities {
  .stroke-scaling * {
    vector-effect: none;
  }

  .stroke-absolute * {
    vector-effect: non-scaling-stroke;
  }

  .bg-sidebar-gradient {
    background-image: url('/src/assets/bg-noise.png'),
      linear-gradient(115deg, hsl(var(--base-50)/1) 50%, hsl(var(--primary-400) / 0.6) 100%);
    background-blend-mode: overlay, normal;
    background-size: 150px, 100% 100%;
    background-position: center top;
  }

  .dark .bg-sidebar-gradient {
    background-image: url('/src/assets/bg-noise.png'),
      linear-gradient(60deg, hsl(var(--primary-950)/0.1) 20%, hsl(var(--primary-500)/0.4) 100%);
    background-blend-mode: normal;
  }

  .bg-auth-gradient {
    background-image:
      linear-gradient(to bottom right, hsl(var(--primary-950) / 0.9) 0%, hsl(var(--primary-500)/0.8) 100%);
    background-size: 100% 100%;
    background-position: center top;
  }
}

/* Custom .container behavior */
:where(.container) {
  @apply supports-[width:stretch]:box-content supports-[width:stretch]:!w-[stretch];

  @media (min-width: theme(screens.lg)) {
    max-width: theme(container.screens.lg);
  }

  &:is(.container) {
    padding-inline: var(--layout-padding);
  }
}

/* Override default size and force 1px stroke at any size for lucide icons */
:where(.lucide) {
  @apply w-4 h-4 flex-none stroke-1 stroke-absolute;
}

/* Zendesk widget overrides */
iframe#launcher {
  @apply !mr-4 !mb-4 rounded-lg !h-12 !bg-primary-700;
}